/*contents layout*/

#main{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  clear:both;
}

#search_box {
  padding: 10px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
}

#submit_box {
  text-align: center;
  padding: 10px;
}

.field {
  text-align: left;

}

ul {
  margin-left: 30px;
}

#result_table ul li {
  margin: 5px; 
  list-style: none;
  list-style-image: url(/images/quiz.png);
  list-style-position: outside;
}

#result_header {
  font-size: 11pt;
  text-align: right;
  width: 100%;
  border-top: 1px solid silver;
  padding-top: 5px;
  clear: both;
}

#result_table {
  width: 100%;
}

.question_text {
  float:left;
  clear:both;
}

.add_book {
  margin: 5px 15px 5px 5px;
  float:right;
}

.to_add_book_controller {
  float: right;
  clear:both;
}

.add_book_form {
  float: left;
}

.add_book span {
  width:120px;
  float: left;
  font-size:10pt;
  font-weight: bold;
}

.add_book #bookmark {
  margin-right:10px;
  width:160px;
  float: left;
  font-size:12pt;
  font-weight:normal;
  clear:both;
}
.book_and_test {
  margin:0px 0 20px -20px; 
  font-size:8pt;
  font-style:oblique;
  border-bottom: 2px dashed silver;
  padding:2px 0px 5px 15px;
  clear:both;
}