/*contents layout*/

img {
behavior: url("pngbehavior.htc");
}

#user_searches {
  text-align:right;
  padding:0px 10px 15px 0px;
  margin-bottom:10px;
  border-bottom: 1px solid silver;

}

#main{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 100%;
  background: #FFFFFF;
  clear:both;
}

#search_box {
  padding: 10px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  margin-bottom: 30px;
}

#submit_box {
  text-align: center;
  padding: 10px;
}

.field {
  text-align: left;

}

ul {
  margin-left: 30px;
}

#result_table ul li {
  margin: 5px; 
  list-style: none;
  list-style-image: url(/images/quiz.png) !important; 
  list-style-image: none; 
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/quiz.png", sizingMethod="scale"); 
  list-style-position: outside;
}

#result_header {
  font-size: 11pt;
  text-align: right;
  font-weight: bold;
  width: 100%;
  border-top: 1px solid silver;
  padding: 5px 0px 20px 0px;
  clear: both;
}

#result_table {
  width: 100%;
}

.question_text {
  float:left;
  clear:both;
}

.add_book {
  margin: 5px 15px 5px 5px;
  float:right;
}

.to_add_book_controller {
  float: right;
  clear:both;
}

.add_book_form {
  float: left;
}

.add_book span {
  width:120px;
  float: left;
  font-size:10pt;
  font-weight: bold;
}

.add_book #bookmark {
  margin-right:10px;
  width:260px;
  float: left;
  font-size:12pt;
  font-weight:normal;
  clear:both;
}

.smart {
  font-size: 10pt;
  font-weight: bold;
  color: red;
}

.tags {
  margin:0px 0px 5px -20px; 
  padding:2px 0px 5px 15px;
  clear:both;
}

.tag {
  background-color: silver;
  line-height:25px;
  margin: 5px;
  padding: 3px;
}

.user {
  margin:0px 0px 10px -20px; 
  padding:2px 0px 5px 15px;
  clear:both;
}

.book_and_test {
  margin:0px 0px 0px -20px; 
  font-size:8pt;
  font-style:oblique;
  padding:2px 0px 5px 15px;
  clear:both;
}

.outline_and_notes {
  width: 276px;
  margin: 10px 10px 10px 20px;
  padding: 10px;
  border: 2px dashed silver;
}

.add_mycontents_form {
  display:inline;
}

.add_mycontents span {
  font-size:11pt;
  height:11pt;
  font-weight: bold;
}


.border {
  margin:0px 0px 20px -20px; 
  border-bottom: 2px dotted silver;

}
#pagenate {
  text-align:center;
}
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}