/*contents layout*/

#search_box {
  width:600px;
  padding: 10px;
  border: 2px solid silver;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
}

#searchform input{
  width:350px;
  vertical-align:middle;
}

#category_title{
  margin:10px 10px 0px 10px;
  padding: 5px;
  color: #FFFFFF;
  background-image: url('/images/gradation.png');
  height: 20px;
}

#category_list {
  margin:0px 10px 0px 10px;
  padding: 10px;
  height: auto;
  text-align: left;
  border: 1px solid silver;
  background: #FFFFFF;
  line-height: 2em;
}

.category {
  background-color: pink;
  margin: 5px;
  padding: 3px;
}

#main{
  margin: 0px 0px 0px 10px;
  padding: 0px;
  width: 69%;
  background: #FFFFFF;
  text-align: left;
  float: left;
}

#side{
  margin: 10px 10px 10px 20px;
  width: 25%;
  height: 400px;
  background: #FFFFFF;
  float:right;
}

#search #tag_cloud {
  margin: 10px;
}

#box_title{
  margin-top: 10px;
  padding: 5px;
  color: #FFFFFF;
  background-image: url('/images/gradation.png');
  height: 20px;
}

#this_site{
  margin-bottom:10px;
  padding: 10px;
  border: 1px solid silver;
  background: #FFFFFF;
  height: 100px;
}

#this_site ul li{
  list-style: none;
  text-align: left;
}

#favorite{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid silver;
  background: #FFFFFF;
  height: 200px;
  overflow: scroll;

}

#favorite ul li{
  padding-bottom:5px;
  list-style: none;
  text-align: left;
}

#new{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid silver;
  background: #FFFFFF;
  height: 100px;
  overflow: scroll;

}

#new ul li{
  list-style: none;
  text-align: left;
}

#update{
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid silver;
  background: #FFFFFF;
  height: 100px;
  overflow: scroll;
}

#update ul li{
  list-style: none;
  text-align: left;
}


.tags {
  margin:0px 0px 2px 10px; 
  padding:2px 0px 2px 10px;
  clear:both;
}

.tag {
  background-color: silver;
  line-height:12px;
  margin: 2px;
  padding: 1px;
}


.subtitle{
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
  color: #FFFFFF;
  background-image: url('/images/gradation.png');
  height: 40px;
  vertical-align: middle;
}

/* とりあえず */
.tag-x-small { font-size:  80%; }
.tag-small   { font-size:  90%; }
.tag-medium  { font-size: 100%; }
.tag-large   { font-size: 120%; }
.tag-x-large { font-size: 150%; }

/* login */
#login {
  width:400px;
  margin-right:auto;
  margin-left:auto;
}

#login_box {
  padding: 10px;
  border: 1px solid silver;
  background  : #FFFFFF;
  height: 150px;
}

#login_box input {
    font-family: tahoma;
    font-size: 12pt;
}

.field {
    text-align: left;
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login_button {
  align: right;
}
