<%= stylesheet_link_tag "contents_user" %>
<div id="bye">
  <div id="bye_box">
    メールを送信しました。
    <div style="margin:20px;font-size:12pt"><%= link_to 'トップへ', :controller => 'top' %></div>
  </div>
</div>
