<% if flug == true %>
  <div style="color:blue"><%= flash[:notice] %></div>
<% elsif flug == false %>
  <div style="color:red"><%= flash[:notice] %></div>
<% else %>
  <ul id="msg" type="disc">
    <% @msgs.reverse.each do |msg| %>
      <li style="color:red"><%= msg %></li>
    <% end %>
  <ul>
<% end %>